<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>mismedidasb</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>NSCalendarsUsageDescription</key>
	<string>Mis medidas solicita acceso al calendario para apoyar la gestión de los platos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Mis Medidas solicita acceso a las fotos para que pueda escoger su foto de perfil.</string>
	<key>NSCameraUsageDescription</key>
	<string>Mis medidas solicita acceso a la cámara para que pueda tomar fotos que le permitan actualizar su foto de perfil.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Mis medidas solicita acceso a los datos de su GPS para apoyar el correcto funcionamiento.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Mis medidas solicita acceso a los datos de su GPS para apoyar el correcto funcionamiento.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Mis medidas solicita acceso al reconocimiento de voz para apoyar el correcto funcionamiento.</string>
	<key>NSMotionUsageDescription</key>
	<string>Mis medidas solicita acceso al sensor de movimiento para apoyar el correcto funcionamiento.</string>
	<key>kTCCServiceMediaLibrary</key>
	<string>Mis medidas solicita acceso a los archivos de audio para apoyar el correcto funcionamiento.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Mis medidas solicita acceso al sensor de reconocimiento facial para apoyar el correcto funcionamiento.</string>
	<key>NSContactsUsageDescription</key>
	<string>Mis medidas solicita acceso a los datos de contactos para apoyar el correcto funcionamiento.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Mis Medidas solicita acceso a los archivos media para que pueda escoger su foto de perfil.</string>
</dict>
</plist>
