<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306011458886-kap0b7t7a9t71k0eips6lj5p9r4gmhp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306011458886-kap0b7t7a9t71k0eips6lj5p9r4gmhp6</string>
	<key>API_KEY</key>
	<string>AIzaSyDbgmp8gETgh4zEApxY6qg0VA2T4l1r48M</string>
	<key>GCM_SENDER_ID</key>
	<string>306011458886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metriri.mismedidas</string>
	<key>PROJECT_ID</key>
	<string>mismedidasb</string>
	<key>STORAGE_BUCKET</key>
	<string>mismedidasb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306011458886:ios:a7ea9881a80faf65b82947</string>
	<key>DATABASE_URL</key>
	<string>https://mismedidasb.firebaseio.com</string>
</dict>
</plist>